<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{200+5*maxframe}}" height="1360">
  {% for s in states %}
  <g id="frame{{s.frame}}" visibility="hidden" transform="translate({{150+(5-315/(maxframe-1))*s.frame}},0)">
    <!-- frames -->
    <image x="0" y="38" width="320" height="212" xlink:href="data:image/png;base64,{{frames[s.frame]}}" />

    <!-- text info -->
    <rect x="0" y="250" width="320" height="50" fill="#CCCCCC" />
    <text x="0" y="250" font-family="Courier" font-size="14" >
      <tspan x="10" dy="1.6em" xml:space="preserve">frame: {{ '%-3d' % s.frame }} ({{ '%X' % (s.frame % 16) }})    r: {{ '%-2d' % s.r }}    v: {{ '%-3d' % s.v }}</tspan>
      <tspan x="10" dy="1.2em" xml:space="preserve">{% if s.countdown > 0 %}countdown: {{ '%-3d' % s.countdown }}{% elif s.status == 1 %}busted        {% elif s.time != 1111000 %}time: {{ '%-8.2f' % (s.time//100/100)}}{% else %}              {% endif %}    x: {{ '%-5d' % s.x }}     </tspan>
    </text>
  </g>
  {% endfor %}

  <!-- separator -->
  <rect x="150" y="300" width="{{5*(states|length)}}" height="5" fill="black" fill-opacity="0.3" />
  {% for s in states %}
  {% if s.frame > 0 and (s.y <= 1 or (((s.frame-1)//2)%2 == 0 and (s.y <= 2 or (((s.frame-1)//4)%2 == 0 and (s.y <= 3 or ((s.frame-1)//8)%2 == 0))))) %}
  <rect x="{{150+5*(s.frame)}}" y="300" width="5" height="5" fill="#75507b" />
  {% endif %}
  {% endfor %}

  <!-- throttle -->
  <text x="140" y="312.5" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">throttle</text>
  {% for s in states %}
  {% if s.th == 1 %}
  <rect x="{{150+5*s.frame}}" y="305" width="5" height="15" fill="#cc0000" />
  {% endif %}
  {% endfor %}

  <!-- separator -->
  <rect x="150" y="320" width="{{5*(states|length)}}" height="5" fill="black" fill-opacity="0.3" />

  <!-- clutch -->
  <text x="140" y="332.5" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">clutch</text>
  {% for s in states %}
  {% if s.cl == 1 %}
  <rect x="{{150+5*s.frame}}" y="{{325}}" width="5" height="15" fill="#cc0000" />
  {% endif %}
  {% endfor %}

  <!-- separator -->
  <rect x="150" y="340" width="{{5*(states|length)}}" height="5" fill="black" fill-opacity="0.3" />

  <!-- motor speed -->
  <text x="140" y="425" dy="-0.6em" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">motor</text>
  <text x="140" y="425" dy="0.6em" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">speed</text>
  {% for s in states %}
  <rect x="{{150+5*s.frame}}" y="{{345+5*s.r}}" width="5" height="5" fill="{% if s.r < 20 %}#3465a4{% else %}#75507b{% endif %}" />
  {% endfor %}

  <!-- separator -->
  <rect x="150" y="505" width="{{5*(states|length)}}" height="5" fill="black" fill-opacity="0.3" />

  <!-- dragster speed -->
  <text x="140" y="670" dy="-0.6em" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">dragster</text>
  <text x="140" y="670" dy="0.6em" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">speed</text>
  {% for s in states %}
  <rect x="{{150+5*s.frame}}" y="{{510+5*s.v/4}}" width="5" height="5" fill="#3465a4" />
  {% endfor %}

  <!-- start line -->
  <rect x="150" y="830" width="{{5*(states|length)}}" height="5" fill="black" fill-opacity="0.3" />
  <!-- finish line -->
  <rect x="150" y="1326.64" width="{{5*(states|length)}}" height="5" fill="black" fill-opacity="0.3" />
  <!-- dragster position -->
  <text x="140" y="1081" dy="-0.6em" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">dragster</text>
  <text x="140" y="1081" dy="0.6em" font-family="Courier" font-size="14" text-anchor="end" alignment-baseline="middle">position</text>
  {% for s in states %}
  <rect x="{{150+5*s.frame}}" y="{{830+s.x/50}}" width="5" height="5" fill="black" />
  {% endfor %}

  <!-- frame select overlay -->
  {% for s in states %}
  <g transform="translate({{150+5*s.frame}},0)">
    <rect id="sel{{s.frame}}" visibility="hidden" x="0" y="300" width="5" height="1060" fill="black" fill-opacity="0.15" />
    <rect visibility="hidden" pointer-events="all" x="0" y="38" width="5" height="1322"
          onmouseover="document.getElementById('sel{{s.frame}}').setAttribute('visibility','visible'); document.getElementById('frame{{s.frame}}').setAttribute('visibility','visible'); /*document.getElementById('info{{s.frame}}').setAttribute('visibility','visible');*/"
          onmouseout="document.getElementById('sel{{s.frame}}').setAttribute('visibility','hidden'); document.getElementById('frame{{s.frame}}').setAttribute('visibility','hidden'); /*document.getElementById('info{{s.frame}}').setAttribute('visibility','hidden');*/" />
  </g>
  {% endfor %}
</svg>
